<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/register.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo_white.png') }}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"/>
</head>

<body>
    <main>
        <section-title>
            ParkSLot
        </section-title>

        <form id="RegisterForm" action="/user/register" method="POST">     
            <section>
                <container>
                    <msg>Nome do estacionamento</msg>
                    <input class="name" type="text" id="name" name="name" required>
                </container>

                <container>
                    <msg>Quantidade e vagas</msg>
                    <input class="quant" type="text" id="quant" name="quant" required>
                </container>
            </section>
                <container>
                    <msg>Email</msg>
                    <input class="email" type="text" id="email" name="email" required>
                </container>

            <section>
                <container>
                    <msg>Senha</msg>
                    <input class="password" type="text" id="password" name="password" required>
                </container>

                <container>
                    <msg>Repita a senha</msg>
                    <input class="password" type="text" id="password_test" name="password_test" required>
                </container>
                
            </section>

            <section>
                <container>
                    <div class="form-check-box">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked"> Criando uma conta no Beesiness, você aceita os 
                        <span class="terms-conditions">Termos & Condições</span> e a
                        <span class="privacy-policy">Política de Privacidade</span>
                    </div>
                </container>
            </section>
        </form>

        <section-btn">
            <button id="btn">Registrar</button>
        </section-btn>
    </main>
</body>