* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: inter;
    color:white;
    background-color: #1B1B1B;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  main{
    display: flex;
    flex-direction: column;
  }

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:4rem

  }

  .top{
    padding: 1rem;
  }

  box{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title{
    padding: 1rem;
    font-size: 4rem;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  a{
    color: #ADADAD;
    text-decoration: none;
  }

  a:hover{
    color: white;
  }

  conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .msg{
    display: flex;
    align-self: flex-start;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .msg-password{
    color: #ADADAD;
    display: flex;
    font-size: small;
    align-self: flex-start;
    justify-content: center;
    margin-top: 0.7rem;
  }
  .msg-password:hover{
    color: white;
  }

  .input{
    width: 29rem;
    height: 2.3rem;
    text-align: start;
    border-radius: 0.4rem;
    padding: 0rem 1rem;
    font-weight: 600;
    color: black;
    border: #1B1B1B none;
    font-family: inter;
    font: inter;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  button{
    background-color: black;
    font-family: inter;
    color: white;
    font-size:medium;
    display: flex;
    align-items: center;
    justify-content: center;
    width:10rem;
    height: 3rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  button:hover{
    background-color: rgb(245, 243, 243);
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
